html, body {
  height: 100%;
}

body {
  margin: 0 30px;
  padding-bottom: 125px;
  overflow-x: hidden;
}

.header {
  padding: 1px 0 30px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.subheader {
  position: absolute;
  top: -35px;
  width: 100%;
}

.content {
  height: 100%;
}

#permalink {
  float: right;
}

.src, .dst {
  width: 49%;
  position: relative;
  float: left;
  height: 100%;
}

.dst {
  float: right;
}

.src .CodeMirror {
  background-color: #fffffb;
  border: 1px solid #888;
  border-radius: 3px;
  box-shadow: 0 0 3px #ccc inset;
}

.dst .CodeMirror {
  background-color: #F8F8F8;
  border: 1px solid #eee;
  border-radius: 3px;
}

/*.CodeMirror-scroll {
  height: 500px;
  line-height: 1.2;
}*/

.CodeMirror {
  height: 100%;
  font-size: 13px;
}

.CodeMirror .cm-comment {
  color: #baa;
}

.github-link {
  color: #333;
  position: absolute;
  right: 0;
  top: 18px;
}
.github-link:hover {
  color: #000;
}
.github-link svg {
  display: block;
  fill: currentColor;
  height: 32px;
  width: 32px;
}
